app-project.org,
www.app-project.org {
    handle /ws {
        reverse_proxy backend:3001
    }

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle /* {
        reverse_proxy frontend:80
    }
}
